<!DOCTYPE html>
{% load staticfiles%}
<html>
<head>
	<title>Topsis Analyser</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet"  href="{% static "css/mystyle.css " %}">

</head>
<body>
	<div class="container-fluid">
		<div class="jumbotron">
		<h1>Welcome to Topsis Analyser</h1>
    	{% if file %}
    	    
    		<p><small><a href="/setpara/"><h2>Set parameters now!</h2></a></small></p>
    	{% else %}
    	    
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<h2>Select your file and Click on process</h2>	
			<input type="file" name="data" required accept=".csv" >
			<p>Make sure your file is *.csv format</p>
		     <a href="https://drive.google.com/open?id=1Tt1YKLzIJQUehlNHk9Jlv5j8mU-i1fWY" target="blank" download>
				click here to download sample data file
			</a>
			<br>
			<button type="submit" onclick="myFunction()">Process!</button>
			
		
		</form>	
	{% endif %}
	</div>
	<script>
	function myFunction() {
  	window.location.href = "/setpara/";
}
</script>
</body>
</html>
