<!DOCTYPE html>
{% load staticfiles%}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Topsis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet"  href="{% static "css/mystyle.css " %}">
    <link rel="stylesheet" href="{%static "bootstrap/css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{%static "css/Article-Clean.css"%}">
   
    <link rel="stylesheet" href="{%static "css/Team-Boxed.css"%}">
</head>

<body>
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center">Topsis</h1>
                    </div>
                    <div class="text">
                        <p><br>The Technique for Order of Preference by Similarity to Ideal Solution (<strong>TOPSIS</strong>) is a multi-criteria decision analysis method, which was originally developed by Ching-Lai Hwang and Yoon in 1981 with further developments
                            by Yoon in 1987, and Hwang, Lai and Liu in 1993.<br><br></p>



                            {% if upload %}
                            
            
            <form method="POST">    
                {% csrf_token %}
            <h2>Set the parameters </h2>
            <h3>What do these parameters mean ?</h3>
            <p><small>The max/min parameter asks you if a property with more value(max) is beneficial <br>
            or is beneficial with less value(min)</p></small>
            <br>
            <p><small>The weight parameter just tells us about weightage or importance given to a property<br>
            If you don't know ,just assign all the weights with 1 <br>
            Weight varies from 0 to 1 </p></small>
        <table style="width:50%">
        <thead>

            <th>Parameter   </th>
            <th> MAX/MIN    </th>
            <th>Weight(0~1) </th>
        </thead>

        
            {% for n,name in column %}
            
            <tr>
            <td>{{ name }} </td>
            <td><input type="radio" name="m{{n}}" value="1" required> Max
                 <input type="radio" name="m{{n}}" value="0"> Min<br></td>

            <td><input type="text" name="w{{n}}" required></td>
            </tr>

            {% endfor %}
        </table>
            <br>
            <br>
            <label>Email </label><input type="email" name="email" required>
            <br>
            <br>
            
            <button type="submit" onclick="myFunction()">GO</button>
            </form>
         
        
        {% else %}
            <h2>Try it Yourself!</h2><br>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Select your file and Click on process</h3>  
            <input type="file" name="data" required accept=".csv" >
            <p>Make sure your file is *.csv format</p>
             <a href="{{sample}}" target="blank" download>
                Download sample data file
            </a>
            <br>
            <button type="submit" value="done">Process!</button>
            
        
        </form> 
    {% endif %}
                        <br>

            
        
        </form> 

                       




                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="team-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Team </h2>
                <p class="text-center">team description</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="{%static "/img/1.jpg"%} ">
                        <h3 class="name">Person 1</h3>
                        <p class="title">Profession</p>
                        <p class="description">person1 details </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="{%static "/img/1.jpg"%} ">
                        <h3 class="name">Person 2</h3>
                        <p class="title">profession</p>
                        <p class="description">Person2 Details </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="{%static "/img/1.jpg"%} ">
                        <h3 class="name">Person 3</h3>
                        <p class="title">Profession</p>
                        <p class="description">Person 3 details</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="{%static "js/theme.js"%}"></script>
    <script>
function myFunction() {
  alert("Email has Been Sent!!")
}
</script> 
</body>

</html>